/* Reset CSS */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Orbitron", sans-serif;
overflow-x: hidden;


}

html,
body {
  height: 100%;
  background-color: #242424;
}

body {
  line-height: 1.5;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
textarea,
select {
  font: inherit;
  background-image: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

.main__timer,
#timer-hours,
#timer-seconds,
#timer-minutes,
.timer__points
 {
    
    color: #46ffbe;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente (se tiver altura definida) */
    gap: 2px;               /* Espaço entre os <p> */
    margin-top: 22vh; 
    font-size: 100px;
    background-color: #8a8a8a00;
    border: none; 
    padding: 2px;
    text-align: center;
    border: none;
    background: transparent;
}

.buttons {
    
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente (se tiver altura definida) */
    gap: 40px;               /* Espaço entre os <p> */
    width: 100%;
    flex-wrap: wrap;
    padding: 20px;    
   
}

#button-full-screen,    
#button-exit-full-screen,
    .button-edit,
    #button-start,
    .button-cancel,
    #button-pause,
    #button-reset,
    .button-ok{
      
      width: 60px;
      height: 60px;
      background-color: #242424;
      border-radius: 50%;
      justify-items: center;
      border-color: rgb(255, 255, 255);
      cursor: pointer;
      
    }
    #button-full-screen:hover,    
#button-exit-full-screen:hover,
    .button-edit:hover,
    .button-start:hover,
    .button-cancel:hover,
    .button-pause:hover,
    #button-reset:hover,
    .button-ok:hover{
      background-color: #5a5a5a;
    }
    .main__timer::selection {
      background: #46ffbe;
      color: #242424;
    }
     input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    border: none;
    outline: none;
  
  }
  input {
    width: 2.2ch; /* largura exata pra 2 dígitos */
  padding: 2px;
  font-size: 50px;
  text-align: center;
  border: none;
  outline: none;
  background: transparent;
  }
    